.photo-grid__list {
    max-width: 90%;
    list-style-type: none;
    row-gap: 16px;
    column-gap: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin: auto;
}