.photo-grid {
  width: 92%;
  margin-top: 92px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  justify-content: end;
  grid-gap: 16px;
}

@media screen and (max-width: 980px) {
  .photo-grid {
    grid-template-columns: 1fr 1fr;
    width: 85%;
    margin-top: 64px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 38px;
  }
}