.places {
    width: 80%;
    margin: auto;
    margin-top: 92px;
}

@media screen and (max-width: 980px) {
    .places {
      min-width: 95%;
      margin-top: 88px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .places {
      max-width: 100%;
      margin-top: 62px;
    }
  }
