.places {
    max-width: 83%;
    margin: auto;
}

@media screen and (min-width: 720px) and (max-width: 1180px) {

    .places {
        max-width: 96%;
        margin: 0 auto 72px;
    }
}

@media screen and (max-width: 720px) {
    .places {
        max-width: 90%;
        margin: 0 auto 64px;
    }
}