.cover__area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
    margin: 0;
    position: absolute;
    z-index: 3;
    row-gap: 32px;
}

@media screen and (max-width: 767px) {
    .cover__area {
        row-gap: 16px;
    }
}