.cover__subtitle {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: #fffdfd;
}

@media screen and (max-width: 767px) {
  .cover__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
  }
}