.cover__subtitle {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  text-align: center;
  color: #fffdfd;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    font-size: 18px;
    line-height: 1.14;
  }
}

@media screen and (max-width: 523px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
  }
}