.header {
    display: flex;
    justify-content: center;
    padding-top: 34px;
}

@media screen and (max-width: 768px) {
    .header {
        max-width: 94%;
    }
}

@media screen and (max-width: 425px) {
    .header {
        max-width: 90%;
        margin-top: 20px;
    }
}