.intro__text-paragraph {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  margin-top: 42px;
}

@media screen and (max-width: 767px) {
  .intro__text-paragraph {
    margin-top: 18px;
  }
}