.intro__text-paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    color: #FFFFFF;
    width: 72%;
    padding-top: 42px;
}

@media screen and (min-width: 524px) and (max-width: 992px) {


    .intro__text-paragraph {
        max-width: 98%;
    }
}

@media screen and (max-width: 523px) {


    .intro__text-paragraph {
        max-width: 100%;
    }
}