.intro__text-paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    width: 96%;
    padding-top: 42px;
}

@media screen and (max-width: 777px) {
    .intro__text-paragraph {
      margin-top: 62px;
    }
  }


