.lead__image {
    width: 100%;
    border-radius: 0px;
    margin-top: 64px;
    filter: grayscale(100%);
}

@media screen and (max-width: 980px) {
    .lead__image {
      margin-top: 69px;
    }
  }
  
  @media screen and (max-width: 777px) {
    .lead__image {
      margin-top: 40px;
    }
  }