.lead__image {
    max-width: 100%;
    border-radius: 0px;
    padding-top: 64px;
    padding-bottom: 92px;
    filter: grayscale(100%);
}

@media screen (max-width: 425px) {
    .lead__image {
        max-width: 100%;
    }
}