.lead__subtitle {
  /*Ola, Julia. Agora entendi a questão da fonte. Eu estava pensando
  somente no font-family. Obrigada.*/
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  max-width: 720px;
  margin: 32px auto 64px;
}

@media screen and (max-width: 980px) {
  .lead__subtitle {
    margin-top: 99px auto;
  }
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
    max-width: 288px;
  }
}