.cover{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 92.5%;
    margin: 0 auto 92px;
}

@media screen and (max-width: 524px) {
    .cover {
        margin-bottom: 64px;
        max-width: 100%;
    }
}