.cover__image {
    width: 100%;
    opacity: 0.3;
    transition: opacity 0.5s ease-in;
}

.cover__image:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .cover__image {
      height: 254px;
      gap: 16px;
    }
  }