.cover__title {
    font-size: 72px;
    font-weight: 900;
    line-height: 1.05;
    color: #fffdfd;
    text-align: center;
    margin: 0 auto;
}

@media screen and (max-width: 524px) {
    .cover__title {
        max-width: 90%;
        font-size: 32px;
        line-height: 109%;
        margin: 0 auto 16px;
        padding-top: 51px;
    }
}