.place {
  display: grid;
  grid-template-columns: 1fr 1.05fr;
  grid-template-areas:
    "place__title place__text"
    "place__image place__paragraphs"
    "place__button place__paragraphs";
  margin-top: 80px;
  gap: 48px 40px;
}

.place:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 980px) {
  .place {
    margin-top: 72px;
    grid-template-areas: "place__title place__text"
                       "place__image place__paragraphs"
                       "place__button place__paragraphs"
                       ".      place__paragraphs";
        grid-column-gap: 28px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-areas:
      "place__title"
      "place__text"
      "place__image"
      "place__paragraphs"
      "place__button";
    gap: 30px;
    margin-top: 50px;
  }
}